@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=VT323&display=swap');

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F8B0C8;
    color: black;
    cursor: url('public/pinkCursor.png'), auto;
  }

/*Loading Screen: Password Input + Profile Picture + Name*/
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 400px;
  background-color: #AF7F73;
}

.profile-pic {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.text-element {
  font-size: 35px;
  margin-bottom: 20px;
  font-family: 'VT323', monospace;
  color:#F8B0C8;
}

.typing-form {
  display: flex;
  justify-content: center;
}

.typing-input {
  font-size: 25px;
  padding: 6px;
  border: 2px solid #F790B2;
  background-color: #F9D0DE;
  color: #AF7F73;
  border-radius: 10px;
  outline: none;
  width: 200px;
  text-align: center;
  caret-color: #AF7F73;
}

/*Standard CSS for Homescreen*/
  .desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

/*Folders*/
  .container{
    display: grid;
    gap: 20px;
    position: absolute;
    top:50px; /*can be adjusted based on layout*/
    left: 20px;/*ensure it aligns to the left*/
  }
  .folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    cursor: pointer;
  }
  .folder img{
    width: 75px;
    height: 75px;
  }

/*Window Tabs*/
  .window {
    position: absolute;
    border: 5px solid #AF7F73;
    background-color: #F9D0DE;
    animation: fadeIn 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .window-welcome{width: 600px;}

  .window-updates{
    width: 250px;
    height: 600px}

  .window-me{
    width: 450px;
  }

  .window-projects{
    width: 700px;
    height: 600px;
  }

  .window-media{
    width: 650px;
  }

  .window-contact{
    width: 600px;
    height: 602px;
  }

  .window-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AF7F73;
    padding: 10px;
    border-bottom: 1px solid #AF7F73;
  }

  .window-title{
    font-family: 'VT323', monospace;
    font-size: 30px;
  }

  .close-btn{
    font-family: "Arial", sans-serif;
    font-size: 16px;
    background: none;
    cursor: pointer;
  }

  .window-content{
    padding: 20px;
    height: 85%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #AF7F73 #F9D0DE;
  }

  .window-content::-webkit-scrollbar{
    width: 10px;
  }
  .window-content::-webkit-scrollbar-track{
    background: #F9D0DE;
  }

  .window-content::-webkit-scrollbar-thumb{
    background-color: #AF7F73;
    border-radius: 10px;
    border: 2px solid #F9D0DE
  }

/*Power Button + Taskbar*/
  .taskbar{
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 60px;
    background-color:#AF7F73;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .power-button{ 
    background-color: #F8B0C8; 
    color: white; 
    border: none; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    font-size: 20px
  }

  .power-menu { 
    display: none; /* Initially hidden */ 
    position: absolute; 
    bottom: 60px; /* Adjust based on taskbar height */ 
    left: 10px; 
    background-color: #F790B2; 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px; 
    z-index: 200;
    width: 150px;
  } 

  .power-menu button { 
    background: none; 
    border: none; 
    color: #F9D0DE; 
    cursor: pointer; 
    padding: 5px 10px; 
    text-align: left; 
    width: 100%; 
  } 
  .power-menu button:hover {
     background-color: #AF7F73;
  }

/*Exclusively only layouts*/
  .layout {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

/*Update Window Tab*/
  .updt{
    text-align: center;
    color:black;
    font-size: 15px;
    font-family: "Baloo 2", sans-serif;
  }

/*Projects section*/
  .projects-section{ 
    padding: 20px; 
    text-align: center;
  } 

  .projects-section h1{ 
    font-size: 40px;
    margin-top: 10px; 
    margin-bottom: 15px; 
  } 

  .projects-container{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
  } 

  .project-card { 
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    /*max-width: 100px; */
    overflow: hidden; 
    text-align: left; 
    transition: transform 0.2s; 
  } 

  .project-card:hover{ transform: translateY(-10px); } 

  .project-card img{ 
    width: 100%; 
    height: auto; 
  } 

  .project-info{ padding: 5px; } 

  .project-info h3{ 
    /*margin: 0 0 10px;*/ 
    font-size: 30px; 
  } 

  .project-info p{ 
    margin: 0; 
    color: #AF7F73;
  }

  .buttons{ 
    margin-top: 5px;
    margin-left: 25%;
  } 
  
  .btn{ 
    display: inline-block; 
    padding: 10px 15px; 
    margin: 8px; 
    border: none; 
    border-radius: 10px; 
    background-color: #AF7F73; 
    color: white; 
    text-decoration: none; 
    font-size: 15px; 
    transition: background-color 0.3s; 
  } 
  
  .btn:hover{ background-color: #F8B0C8;}

/* music player container START */


/*Guestbook - Form*/
b{
  color:#F790B2;
}

iframe {
  border: none; /* Remove the default border */
  width: 80%; /* Make it full width */
  height: 600px; /* Adjust height to fit your design */
}

.form-wrapper { /* Optional: Use flexbox or grid to align the form content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

iframe[src="google.com"] { /* Optional: Hide the Google header and footer */
  display: block;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*Guestbook - Responses*/
#responses {/* Container for responses */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
  max-height: 500px;
  overflow-y: scroll; /*Make the responses scrollable */
  /*background-color: #f5f5f5;*/
}

.entry {/* Style individual message bubbles */
  display: flex;
  flex-direction: column;
  max-width: 70%;
  padding: 12px;
  border-radius: 12px;
  background-color: #F8B0C8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  align-self:self-end;
  text-align: right;
}

.entry strong {/* Sender*/
  color: #AF7F73;
  font-size: 30px;
  font-family: 'VT323', monospace;
}

.entry p {/* The message content itself */
  font-size: 24px;
  color: #F9D0DE;
  margin: 5px 0;
  font-family: 'Baloo 2', sans-serif;
}

.entry em {/* Timestamp and Song Recommendations */
  font-size: 18px;
  color: #F9D0DE;
  font-family: 'VT323', monospace;
}

.entry.system {/* Differentiate system's messages (you can adjust the styling for your own messages) */
  align-self: flex-start;
  background-color: #e0f7fa; /* Light blue for system messages */
}

.entry.user {
  align-self: flex-end;
  background-color: #d1c4e9; /* Light purple for user messages */
}

#responses::-webkit-scrollbar {/* Optional: Add some custom scroll styles */
  width: 6px;
}

#responses::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

#responses::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/*Text + Image Styling*/
h1{
  text-align: center;
  color:#F790B2;
  font-family: 'VT323', monospace;
  font-size: 45px;
}

h2{
  text-align: center;
  color:#AF7F73;
  font-family: 'VT323', monospace;
  font-size: 30px;
}
h3{
  text-align: center;
  color: #F790B2;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

p{
  /*margin-left:30px;*/
  font-size: 20px;
  font-family: "Baloo 2", sans-serif;
  text-align: center;
}

.mainImg{
  width: 200px;
  height: 200px;
}

.avatarImg{
  max-width: 45%; 
  height: auto;
  margin-left: 25%;
}

.submit{ 
  display: block; 
  width: 25%; 
  padding: 10px; 
  background-color: #AF7F73; 
  color: #F9D0DE; 
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
  font-size: 16px; 
}

.submit:hover{ 
  background-color: #F790B2;
  color:#F9D0DE;
}

/*Responsive Design*/
@media (max-width: 600px) {
  .taskbar {
    height: 40px; /* Adjusted height for smaller screens */
    padding: 0 5px;
  }
  .power-button {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .power-menu {
    bottom: 50px; /* Adjusted based on taskbar height */
    left: 5px;
    width: calc(100% - 10px); /* Adjusted width for smaller screens */
  }
  .power-menu button {
    padding: 5px;
  }
  .container{
    grid-template-columns: 1fr;
  }
  .folder img{
    width: 50px;
    height: 50px;
  }
}

    /*laptop screen layout*/
@media (min-width: 900px){
  .container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .folder:nth-child(1){
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .folder:nth-child(2){ 
    grid-column-start: 1; 
    grid-row-start: 2;
  } 
  .folder:nth-child(3){ 
    grid-column-start: 1; 
    grid-row-start: 3; 
  } 
  .folder:nth-child(4){ 
    grid-column-start: 2; 
    grid-row-start: 1; 
  } 
  .folder:nth-child(5){ 
    grid-column-start: 2; 
    grid-row-start: 2;
  }
  .folder img{
    width: 75px;
    height: 75px;
  }
}
    /*mobile screen layout*/
@media (max-width: 899px){
  .container{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: start;
  }
  .folder img{
    width: 50px;
    height: 50px
  }
}